@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  0% {
    transform: rotate(0deg) skewY(-5deg); }
  100% {
    transform: rotate(360deg) skewY(-5deg); } }

html,
body {
  height: 100%; }

body {
  min-width: 768px;
  background-color: #424F64;
  animation: fadeIn 0.3s ease;
  user-select: none; }

/* custom reset start */
.caret {
  border-top-color: #333;
  transition: transform 0.3s ease; }

.text-red {
  color: #E62925; }

.text-icon .icon {
  top: 2px;
  margin-right: 10px; }

.sending:before {
  content: "\e031";
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;
  line-height: 1;
  font-family: icon;
  transform-origin: center;
  animation: spin 0.6s linear infinite; }

.reader-text {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

/* custom reset end */
#app {
  position: relative;
  height: 100%;
  overflow-x: hidden; }

/* Custom Base Start */
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100; }
  .loading .loading-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px; }
    .loading .loading-circle:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      margin-top: -25px;
      margin-left: -25px;
      border: 3px inset #fff;
      animation: spin 0.8s linear infinite;
      border-radius: 50%; }

/* Custom Base End */
/* Header Start */
.header {
  position: fixed;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 100; }
  .header .header-logo {
    float: left;
    width: 220px; }
    .header .header-logo h2 {
      margin: 0;
      line-height: 50px;
      color: #1D2938;
      text-align: center; }
      .header .header-logo h2 span {
        color: #02B09A; }
  .header .header-nav {
    height: 50px;
    margin-left: 220px;
    line-height: 50px;
    border-left: 1px solid #eee;
    background-color: #fff; }
    .header .header-nav .nav-left {
      float: left; }
    .header .header-nav .nav-right {
      float: right; }
      .header .header-nav .nav-right > div {
        float: left; }

@keyframes fadeDownIn {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.user-menu a {
  transition: all 0.3s ease; }
  .user-menu a:hover {
    background: #F9F9F9; }

.user-menu .bar {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  border-left: 1px solid #eee;
  background-color: #fff;
  z-index: 10; }
  .user-menu .bar .avatar {
    float: left;
    width: 70px;
    height: 50px;
    padding: 5px 15px;
    border-radius: 50%; }
  .user-menu .bar .name {
    margin-left: 70px; }
    .user-menu .bar .name .caret {
      margin-left: 5px; }

.user-menu .list {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: #fff;
  z-index: 9; }
  .user-menu .list a {
    display: block;
    padding: 0 15px;
    border-bottom: 1px solid #eee; }
    .user-menu .list a .icon {
      top: 4px;
      font-size: 18px; }

.user-menu:hover .bar .caret {
  transform: rotate(180deg); }

.user-menu:hover .list {
  display: block;
  animation: fadeDownIn 0.3s ease both; }

/* Header End */
/* Navigation Start */
@keyframes menuOpen {
  0% {
    opacity: 0;
    transform: scaleY(0); }
  100% {
    opacity: 1;
    transform: scaleY(1); } }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  height: 100%;
  padding-top: 50px;
  background-color: #424F64;
  color: #fff;
  overflow: auto; }
  .nav a {
    color: #fff;
    cursor: pointer; }
  .nav .nav-item.open {
    background-color: #343F50; }
    .nav .nav-item.open > a {
      color: #65CEA7; }
      .nav .nav-item.open > a .symbol:before {
        content: '-'; }
    .nav .nav-item.open .sub-nav {
      display: block; }
  .nav .nav-item > a {
    position: relative;
    display: block;
    height: 44px;
    padding: 12px 20px;
    transition: all 0.3s ease; }
    .nav .nav-item > a .icon {
      margin-right: 5px; }
    .nav .nav-item > a .symbol:before {
      content: '+';
      position: absolute;
      right: 20px; }
    .nav .nav-item > a:hover {
      color: #65CEA7;
      background-color: #343F50; }
  .nav .sub-nav {
    display: none;
    transform-origin: top;
    animation: menuOpen 0.3s ease; }
    .nav .sub-nav > li.active .sub-item {
      background-color: #2A323F;
      color: #65CEA7; }
    .nav .sub-nav .sub-item {
      display: block;
      height: 40px;
      padding: 10px 5px 10px 50px;
      transition: all 0.3s ease; }
      .nav .sub-nav .sub-item:hover {
        background-color: #2A323F; }

/* Navigation End */
/* Page Start */
.page {
  min-height: 100%;
  height: 100%;
  padding-top: 50px;
  margin-left: 220px;
  background-color: #F1F3FA; }

/* Page End */
